# Dependency directories
node_modules/

# Playwright Test results and artifacts
*.har
*.png
html/
playwright-report/
snapshots/
test-results/
tests-examples/
trace.zip

# Environment variables
.env

# K6 test output
*.json
*.csv
*.bin
*.html
*.log
k6-results/

# Logs
logs/
*.log

# Coverage reports
coverage/

# Temporary files
tmp/

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini